# Name: Unet_Segmentation
# Author: Thorsten Falk
# Version: 1.0
# Date: 2017/04/21
# Requires: ij.jar, jsch.jar, jhdf5.jar

Plugins>U-net, "U-Net segmentation manager", Unet_Segmentation_Manager("run")
Plugins>U-net, "Segment current Image (Stack)", UnetSegmentationJob("run")
Plugins>U-net, "Finetune Model", UnetFinetuneJob("run")
