# Name: U-Net
# Author: Thorsten Falk
# Version: 1.0
# Date: 2018/01/30
# Requires: ij.jar, jsch.jar, jhdf5.jar

Plugins>U-Net, "Job Manager", UnetJobManager("run")
Plugins>U-Net, "Segment Current Image (Hyperstack)", UnetSegmentationJob("run")
Plugins>U-Net, "Finetune Model", UnetFinetuneJob("run")
