# Name: U-Net
# Author: Thorsten Falk
# Version: 1.0
# Date: 2018/01/30
# Requires: ij.jar, jsch.jar, jhdf5.jar, protobuf-java.jar

Plugins>U-Net, "Job Manager", de.unifreiburg.unet.JobManager("run")
Plugins>U-Net, "Segment Current Image (Hyperstack)", de.unifreiburg.unet.SegmentationJob("run")
Plugins>U-Net, "Detect in Current Image (Hyperstack)", de.unifreiburg.unet.DetectionJob("run")
Plugins>U-Net, "Finetune Model", de.unifreiburg.unet.FinetuneJob("run")
Plugins>U-Net>Utilities, "Connected Component Labeling", de.unifreiburg.unet.ConnectedComponentLabeling("run")
